.wiki-content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    font-size: 1.3em
}

.wiki-content section {
    scroll-margin-top: 100px
}

.wiki-content img {
    max-width: 100%
}

.wiki-content blockquote {
    border-left: .25em solid #282c34;
    padding: 0 1em;
    margin: 0
}

.wiki-content hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0))
}

.wiki-content ul {
    margin: 0 0 24px;
    padding: 0 0 0 2em
}

.wiki-content h2:hover #hash {
    opacity: .3
}

.wiki-content h3:hover #hash {
    opacity: .3
}

.wiki-content h4:hover #hash {
    opacity: .3
}

.wiki-content #hash {
    position: absolute;
    padding-right: 12px;
    padding-left: 6px;
    font-weight: 500;
    opacity: 0;
    text-align: right;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: opacity .1s, color .1s;
    transition: opacity .1s, color .1s;
    color: #fff
}

.wiki-content #code {
    position: relative
}

.wiki-content #code:hover .copy-icon {
    opacity: .2
}

.wiki-content .copy-icon {
    width: 20px;
    position: absolute;
    right: 0;
    -webkit-transform: translateX(-150%) translateY(-15%);
    transform: translateX(-150%) translateY(-15%);
    transition: ease .3s;
    opacity: 0;
    color: #fff;
    cursor: pointer
}

.wiki-content .hint {
    width: 100%;
    margin: 32px 0;
    display: flex;
    border-left: 4px solid;
    border-radius: 3px;
    align-items: center;
    background: #17171a
}

.wiki-content .hint .hint-icon {
    display: flex;
    width: 1.25em;
    margin: 10px
}

.wiki-content .hint-info {
    border-color: #29b6f6
}

.wiki-content .hint-info svg {
    fill: #29b6f6
}

.wiki-content .hint-success {
    border-color: #66bb6a
}

.wiki-content .hint-success svg {
    fill: #66bb6a
}

.wiki-content .hint-warning {
    border-color: #ffa726
}

.wiki-content .hint-warning svg {
    fill: #ffa726
}

.wiki-content .hint-error {
    border-color: #f44336
}

.wiki-content .hint-error svg {
    fill: #f44336
}

.wiki-content .task-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.wiki-content table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0
}

.wiki-content table tr {
    color: inherit;
    display: table-row;
    vertical-align: middle;
    outline: 0
}

.wiki-content table td {
    font-size: .8em;
    line-height: 1.5rem;
    letter-spacing: .01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid #28282d;
    text-align: center;
    padding: 16px
}

.wiki-content table th {
    font-weight: bold;
    font-size: .9em;
    line-height: 1.5rem;
    letter-spacing: .01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid #28282d;
    text-align: center;
    padding: 16px;
    background: #17171a
}

.wiki-content .content-tabs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0
}

.wiki-content .content-tabs input[type=radio] {
    display: none
}

.wiki-content .content-tabs input[type=radio]:checked + label {
    background: #17171a;
    border-top: solid 1px #28282d;
    border-left: solid 1px #28282d;
    border-right: solid 1px #28282d
}

.wiki-content .content-tabs input[type=radio]:checked + label + .content-tab {
    display: block
}

.wiki-content .content-tabs label {
    padding: 15px;
    background: inherit;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: .9em;
    cursor: pointer;
    position: relative;
    z-index: 10;
    transform: translateY(1px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.wiki-content .content-tabs .content-tab {
    position: relative;
    z-index: 0;
    flex: 1 1 100%;
    order: 1;
    display: none;
    width: 100%;
    background: #17171a;
    padding: 25px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: solid 1px #28282d
}

.toast-container {
    --radius: 5px;
    --stack-gap: 20px;
    --safe-area-gap: env(safe-area-inset-bottom);

    position: fixed;
    display: inline-block;
    max-width: 468px;
    bottom: calc(0px + 10px);
    bottom: calc(var(--safe-area-gap, 0px) + 10px);
    min-width: 300px;
    right: 20px;
    z-index: 5000;
    transition: all 0.4s ease;
}

.toast-container .toast {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 0.4s ease;
    transform: translate3d(0, 86px, 0);
    opacity: 0;
}

.toast-container .toast .toast-inner {
    --toast-bg: none;
    --toast-fg: #fff;
    box-sizing: border-box;
    border-radius: var(--radius);
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    color: var(--toast-fg);
    background-color: var(--toast-bg);
    transition: all 0.25s ease;
}

.toast-container .toast .toast-inner.default {
    --toast-fg: #000;
    --toast-bg: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

.toast-container .toast .toast-inner.success {
    --toast-bg: #0076ff;
}

.toast-container .toast .toast-inner.error {
    --toast-bg: #f04;
}

.toast-container .toast .toast-inner.warning {
    --toast-bg: #f5a623;
}

.toast-container .toast .toast-inner.dark {
    --toast-bg: #111;
    --toast-fg: #fff;
    box-shadow: 0 0 0 1px #333
}

.toast-container .toast .toast-inner.dark .toast-button {
    --button-fg: #000;
    --button-bg: #fff;
    --button-border: #fff;
    --button-border-hover: #fff;
    --button-fg-hover: #fff
}

.toast-container .toast .toast-inner.dark .toast-button.cancel-button {
    --cancel-button-bg: #000;
    --cancel-button-fg: #888;
    --cancel-button-border: #333;
}

.toast-container .toast .toast-inner.dark .toast-button.cancel-button:hover {
    color: #fff;
    border-color: var(--button-border);
}

.toast-container .toast .toast-text {
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    margin-top: -1px;
    margin-right: 24px;
    transition: all 0.3s ease-in;
    text-align: center;
}

.toast-container .toast .toast-button {
    --button-fg: #000;
    --button-bg: #fff;
    --button-border: #fff;
    --button-border-hover: #fff;
    --button-fg-hover: #fff;
    height: 24px;
    line-height: 22px;
    padding: 0 10px;
    font-size: 14px;
    background-color: var(--button-bg);
    color: var(--button-fg);
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    vertical-align: middle;
    border-radius: var(--radius);
    outline: none;
    border: 1px solid var(--button-border);
    transition: all 0.2s ease;
}

.toast-container .toast .toast-button:hover {
    border-color: var(--button-border-hover);
    background-color: transparent;
    color: var(--button-fg-hover);
}

.toast-container .toast .toast-button.cancel-button {
    --cancel-button-bg: #fff;
    --cancel-button-fg: #666;
    --cancel-button-border: #eaeaea;
    margin-right: 10px;
    color: var(--cancel-button-fg);
    border-color: var(--cancel-button-border);
    background-color: var(--cancel-button-bg);
}

.toast-container .toast .toast-button.cancel-button:hover {
    --cancel-button-fg: #000;
    --cancel-button-border: #000;
}

.toast-container .toast .default .toast-button {
    --button-fg: #fff;
    --button-bg: #000;
    --button-border: #000;
    --button-border-hover: #000;
    --button-fg-hover: #000;
}

.toast-container .toast:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 1px);
    width: 100%;
    /* This for destroy the middle toast, still keep `spread` */
    height: 1000px;
    background: transparent;
}

.toast-container .toast.toast-1 {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.toast-container .toast:not(:last-child) {
    --i: calc(var(--index) - 1);
    transform: translate3d(0, calc(1px - (var(--stack-gap) * var(--i))), 0) scale(calc(1 - 0.05 * var(--i)));
    opacity: 1;
}

.toast-container .toast:not(:last-child) .toast-inner {
    height: var(--front-height);
}

.toast-container .toast:not(:last-child) .toast-inner .toast-text {
    opacity: 0;
}

.toast-container .toast.toast-4 {
    opacity: 0;
}

.toast-container:hover {
    bottom: calc(0px + 20px);
    bottom: calc(var(--safe-area-gap, 0px) + 20px);
}

.toast-container:hover .toast {
    transform: translate3d(
            0,
            calc(var(--hover-offset-y) - var(--stack-gap) * (var(--index) - 1)),
            0
    );
}

.toast-container:hover .toast .toast-inner {
    height: var(--height);
}

.toast-container:hover .toast .toast-text {
    opacity: 1 !important;
}

@media (max-width: 440px) {
    .toast-container {
        max-width: 90vw;
        right: 5vw;
    }

    .toast-container .toast {
        width: 90vw;
    }
}
