@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins, sans-serif;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background-color: #3C3E41;
    border-radius: 25px;
}

.sidebar-content::after {
    position: absolute;
    z-index: 10;
    left: 0;
    width: 100%;
    height: 10%;
    content: "";
    bottom: 0;
    background: linear-gradient(rgba(20, 20, 23, 0) 0%, rgb(20, 20, 23) 50%);
    pointer-events: none;
}

.weird-max-height {
    max-height: calc(100vh - 500px);
}
