
.sans {
    font-family: 'General Sans', sans-serif;
}

.sans-bold {
    font-family: 'General Sans', sans-serif;
    font-weight: bold;
}

.sans-light {
    font-family: 'General Sans', sans-serif;
    font-weight: 300;
}

.border-left {
    border-radius: 10px 25px 10px 50px;
}

.border-right {
    border-radius: 10px 50px 10px 25px;
}

.projects-shape {
    border-radius: 20px 100px 20px 150px;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background-color: #3C3E41;
    border-radius: 25px;
}
