@font-face {
  font-family: "Moon 2.0";
  src: local("Moon 2.0"), url(/fonts/Moon2.0-Light.otf) format('otf');
}

.main-logo {
  width: 20em;
  height: 13em;
  margin-left: auto;
  margin-right: auto;
  background-image: url("./../../imgs/logo.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.parent {
  width: 100vw;
  height: 100vh;
  position: relative;
  max-width: 100%;

  h2 {
    font-family: 'Moon 2.0', sans-serif;
    font-weight: lighter;
    letter-spacing: .1em;

    span {
      font-size: 0.5em;
    }
  }

  .text-container {
    cursor: default;
  }

  .text-container a, .gradient {
    font-weight: bold;
    background: -webkit-linear-gradient(0deg, #5D3D90, #A157BE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: ease 0.25s;

    &:hover {
      opacity: 0.7;
    }
  }

}

.card-version {
  padding: 15px;
}

.bg-hollow-circles {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./../../imgs/hollow-bg.png") no-repeat center;
  background-size: 90%;
  z-index: -10;
}

.bg-circles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.scroll-down {
  text-decoration: none;
  color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 150px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.35;
  transition: ease 0.3s;
}

.scroll-link {
  :hover {
    opacity: 1;
  }
}

// TODO scss this
.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
  margin-top: 30px;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  height: 30%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

.screen {
  width: 640px;
  height: 360px;
  background: #1d1d1f;
  margin-left: auto;
  margin-right: auto;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  overflow: hidden;

  img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }

  img[alt~="default"] {
    opacity: .7;
  }

}

#tsparticles {
  height: 100vh;
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@media only screen and (max-width: 550px) {

  h2 {
    font-size: 2em !important;
  }

  h3 {
    font-size: 1.5em !important;
  }

  .scroll-down {
    display: none;
  }

}
