
.side-bar {

  #logo {
    width: 50%;
    margin: auto;
    padding: 25px;
  }

  img {
    width: 100%;
  }

  .search-input {
    border-radius: 15px;
    transition: ease 0.3s;

    fieldset {
      border: none;
    }

    &:hover {
      outline: none;
    }

  }

  .side-list {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    padding: 0 15% 0 15%;

    &::-webkit-scrollbar {
      width: 0.5em;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }

    &::-webkit-scrollbar-thumb {
      background-color: #3C3E41;
      border-radius: 25px;
    }

    h1 {
      display: flex;
      border: 0;
      text-decoration: none;
      font-weight: bold;
      font-size: 1.3em;
    }

    ul {
      padding: 0;
      margin: 0 0 20%;
      list-style: none;
      display: block;
    }

    li {
      flex-flow: row nowrap;
      padding: 6px 0;
      font-size: 1.15em;
      line-height: 1.5;
      place-items: center;
      display: list-item;
    }

    a {
      color: #BFC0C3;
      -webkit-transition: opacity .1s, color .1s;
      transition: opacity .1s, color .1s;
    }
  }

  .bottom-space {
    height: 25%;
  }

}

.table-of-content {
  position: fixed;
  padding: 35px 5px;

  .edit-github {
    padding: 10px;
    margin-bottom: 20px;
  }

  .on-page {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .content-items {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;

    li {
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 1.1em;
      line-height: 1.5;
      -webkit-transition: opacity .1s, color .1s;
      transition: opacity .1s, color .1s;
    }

    .level-1 {
      padding-left: .8em;
    }

    .level-2 {
      padding-left: 1.6em;
    }
  }
}
