/**
 * PrismJS 1.24.1
 * Matt's Atom One Dark theme
 * @author Mateus Moreira
 */

code {
  padding: .3em;
  border-radius: .3em;
  background: #282C34;
  color: #ABB2BF;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #FFA07A;
  background: none;
  font-family: "Fira Code", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
  background: #282C34;
}

/* Code blocks */
pre {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: .5em;
  background: #282C34;
}

pre::-webkit-scrollbar {
  height: 7px;
}

pre::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

pre::-webkit-scrollbar-thumb {
  background-color: #3C3E41;
  border-radius: 25px;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .15em .2em .05em;
  border-radius: .3em;
  border: .13em solid hsl(30, 20%, 40%);
  box-shadow: 1px 1px .3em -.1em black inset;
  white-space: normal;
}

.token.punctuation {
  color: #A6B2C0;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #59626F;
}

.token.class-name,
.token.object {
  color: #35BBCA;
}

.token.function,
.token.kfunction {
  color: #61AEEF;
}

.token.punctuation {
  opacity: .7;
}

.token.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #F08080;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #1BDD8F;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #A6B2C0;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #C679DD;
}

.token.regex,
.token.important {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.deleted {
  color: red;
}

.token.label {
  color: #C3D3DE;
}

.token.infix {
  color: #0191B4;
  font-style: italic;
}

